NODE_ENV=development
PORT=5000
FRONTEND_URL=https://fieldops-manager.onrender.com

# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=fieldops
DATABASE_URL=postgresql://fieldops_user:N2UpXZdUdWCnqg0TbEVj7WvL4dGV5UCg@dpg-d8lcc93tqb8s73elg300-a/fieldops_c7zg

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_ACCESS_SECRET=5c6e3b2fe5b1ad143bba68b36e2c81882bd5374e2c9bcc9dd3eefb41810649492a2c445d7b5f49408af29afc9a866bd0ccfc468350833996e35982b88e14804c
JWT_REFRESH_SECRET=ccb17583d74bfefaa1070d01bebbe3c3903fcacfc099b0e2a2dee4320ff1fdbca2014467739e73628cdd999fcfd266bf992b6810d68d6419ce3fabf332f1c9cf
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# AWS (Production)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_S3_BUCKET=fieldops-frontend
AWS_CLOUDFRONT_DIST_ID=E2S3IBZMU3GSU9
AWS_CLOUDFRONT_URL=d87gfhc8cmtpp.cloudfront.net
